<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="Register">
        <title class="register-title"> Register to start investing!</title>
        <form action="register_user" method="post" onsubmit="COMPLETAR">

        <input type="text" name="fullname" placeholder="Fullname" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
    </div>
</body>

</html>