<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio Simulator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="Index">
        <h1>Welcome to Portfolio Simulator!</h1>
        <div class="form"> 
            <a href="/authentication/register">
                <button>Register</button>
            </a>
            <a href="/authentication/login">
                <button>Login</button>
            </a>
        </div>
    </div>
</body>

</html>