<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Simulator</title>
</head>

<body>
    <h1>Welcome to Portfolio Simulator!</h1>
    <div class="register-navigation"> 
        <a href="/authentication/register">
            <button>Register</button>
        </a>
    </div>
    <div class="login-navigation">
        <a href="/authentication/login">
            <button>Login</button>
        </a>
    </div>
</body>

</html>